* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: hsl(233, 47%, 7%);
  font-size: 0.9375rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  background-color: hsl(244, 38%, 16%);
  color: hsl(0, 0%, 100%);
  text-align: start;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  flex-wrap: wrap;
}

.info-header {
  margin-bottom: 2rem;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0, 0%, 100%);
}

.info-header span {
  color: hsl(277, 64%, 61%);
}
